body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

body {
  font-family: 'Lato';
  font-weight: 600;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  background: white;
  color: rgba(0, 0, 0, 1);
}

a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.9);
}

#phone {
  position: relative;
  z-index: 32;
  padding-left: 40vw;
  padding-top: 8vh;
  font-size: 3vw;
}

#overlay {
  font-weight:300;
  z-index: 30;
  font-size: 18vw;
  padding-top: 8vh;
  padding-left: 3vw;
  position: relative;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#links {
  z-index: 31;
  position: relative;
  padding-left: 5vw;
  padding-top: 2rem;
  font-size: 5vw;
  word-spacing: 3vw;
}
aside{
  z-index:34;
  position: relative;
  text-align:center;
  margin:12vh 25vw;
  text-shadow:none;
  font-size:16px;
  background:rgba(255,255,255,0.6);
  border-radius:8px;
}