body{
  overflow-x: hidden;
}
.main {
  font-family: "Century Gothic";
  animation: Gradient 15s ease infinite;
  background: linear-gradient(-45deg, #ffe869, #b7d3f2, #ff8069, #fff4bb);
  background-size: 400% 400%;
}
#brand {
  font-size: 1.3em;
}
#call {
  color: #fff4bb;

  padding-top: 25px;
  font-size: 8em;
  font-family: "Oswald";
}

@media screen and (max-width: 950px) {
  #call {
    font-size: 3.5em;
  }

}
@media screen and (max-width: 650px) {
  #call {
    font-size: 1.5em;
  }
 
}
.animated-bg {
  min-height: 420px;
  background: url(https://66.media.tumblr.com/c319dbeeef58b8e5a7396c2ab8591812/tumblr_pf0w62Py8M1xgv4g2o1_400.gif);
  background-position: center;
  animation: Gradient 15s ease infinite;
  background-repeat: no-repeat;
}
.animated-bg-2{
 background:url(https://66.media.tumblr.com/d33c27ebea06416947bf4c204b21e65f/tumblr_pfc6e0Spka1xgv4g2o1_400.gif);
  background-position: center;
  animation: Gradient 15s ease infinite;
  background-repeat: no-repeat;
  
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.shad {
  text-shadow: 2px 2px #666;
}
.linkshad {
  color: #fc3;
  text-shadow: 2px 2px #963;
}
.os {
  font-family: "Oswald";
}
.habitat {
  background: #00b0d7;
  width: 400px;
  padding: 15px;
  border-radius: 25px;
  margin:25px;
}

@media screen and (min-width: 800px) {
  .tl {
    border-top-left-radius: 25px;
  }
}
.minion {
  font-family:'Minion Pro';
  font-weight:800;
}
svg{
 width:100%;
}
.t{
  color: #cff4bb;
}
#gh{width:300px;}

.mt{
  margin-top: 20px;
}
label{
  font-size:1.2em;
}
input, textarea{
  width:100%;
  font-size:1em;
  font-family:'Century Gothic';
  font-weight:800;
  border:0;
  padding:4px;
  border-radius:5px;
  background:#FCFCFC;
  margin: 2px;
  border-bottom: 3px solid #DCDCDC;
}
#submit{
  margin:20px 0 20px 0;
}
#alert{
  color:red;
  font-weight: 800;
}